.experimental {
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
    color: white;
}

.color {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    cursor: pointer;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

.button {
    background-color: grey;
    color: white;
    text-shadow: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 37px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
}


body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}