.experimental {
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
    color: white;
}

.color {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}


body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}