.experimental {
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
    color: white;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}